<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <span class="navbar-text">
    <a class="navbar-brand" routerLink="/dashboard">DashBoard</a>
  </span>
  <ul class="navbar-nav">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" data-target="user_dropdown">User</a>
      <div class="dropdown-menu" aria-labelledby="user_dropdown">
        <a class="dropdown-item" style="cursor: pointer;" routerLink="/new-user">Add User</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" style="cursor: pointer;" routerLink="/user-list">User List</a>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link">Expense</a>
    </li>
  </ul>
</nav>